artifacts/data.csv filter=lfs diff=lfs merge=lfs -text
artifacts/test.csv filter=lfs diff=lfs merge=lfs -text
artifacts/train.csv filter=lfs diff=lfs merge=lfs -text
notebook/data/creditcard.csv filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
notebook/data/fraud.csv filter=lfs diff=lfs merge=lfs -text
